.chat-main
  .chat-main__main-header
    .chat-main__main-header--left-box
      .group-mane
        = @group.name
        %ul.members
          Menber：
          %li.member-list
            - @group.group_users.each do |group_user|
              = group_user.user.name
    =link_to edit_group_path(@group), class: "edit-btn" do
      Edit
  .chat-main__message
    = render @messages
  .form
    =form_for [@group, @message] do |f|
      = f.text_field :content, placeholder:"type a message" , class:"input-box__text" 
      .input-box
        =f.label :image, class: "input-box__image" do
          = icon('far', 'image')
          =f.file_field :image, class:"input-box__image-file"
      = f.submit "Send", class:"submit"