.side-bar
  .side-bar__side-header
    .side-bar__side-header--box
      .side-bar__side-header--box__name
        = current_user.name
      %ul.menu
        %li
        = link_to new_group_path, class: "side-bar__ide-header--box__icons--edit" do
          = icon('far', 'edit',  class: "side-bar__ide-header--box__icons")
        %li.menu__list
        = link_to edit_user_path(current_user), class: "side-bar__ide-header--box__icons--cog" do
          = icon('fas', 'cog',  class: "side-bar__ide-header--box__icons")
  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group--box
        =link_to group_messages_path(group) do
          .side-bar__group--box--name
            = group.name
          .side-bar__group--box--text
            = group.show_last_message
